<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script type='text/javascript' src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/typeahead.bundle.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
    </head>
    
    <body>
        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class="topcorner">
            <p>Beer Recommendation</p>
            <p>Ilan Filonenko: if56</p>
            <p>Kelsey Duncan: ked83</p>
            <p>Pujaa Rajan: pr3388</p>
            <p>Zheng Yao: zy87</p>
        </div>
        
        <form class="form-inline global-search" method='GET'>
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                B
                <font color=#EA4335>O</font>
                <font color=#FBBC05>O</font>
                G
                <font color=#34A853>L</font>
                <font color=#EA4335>E</font>
            </h1>
            
            <br><br>
            
            <div id="the-basics" class="form-group">
                <input id="input" type="text" name="search" class="typeahead form-control" placeholder="Beer Name">
            </div>
            <div id="the-features" class="form-group">
                <input id="input" type="text" name="search_features" class="typeahead form-control" placeholder="Beer Feature">
            </div>
            <button id="search-button" type="submit" class="btn btn-info"> Go! </button>
        </form>
        
        <div class="output form-inline global-search">
            <h4>Output</h4><br>
            {% for line in output %}
                {{line}}<br>
            {% endfor %}
            
            <div class="pagination">
                <span class="step-links">
                    {% if output.has_previous %}
                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    <!-- Showing the page numbers in Html Page -->
                    <span class="current">
                    Page _{{ output.number }}_ of _{{ output.paginator.num_pages }}_
                    </span>
                    
                    {% if output.has_next %}
                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </body>
</html>